@import "bootstrap/dist/css/bootstrap.min.css";

body{
    background: white;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;    
    align-items: center;        
}
h1 {
  font-size: 2rem;
  margin-bottom: 30px;
}

#excuse {
  font-size: 1.8rem;
}
.container {
    text-align: center;
    max-width: 600px;
}